.scrollbar::-webkit-scrollbar {
  height: 6px; /* width of the entire scrollbar */
  width: 6px; /* width of the entire scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(
    --chakra-colors-primary-200
  ); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.slider {
  height: 25px;
  display: flex;
  align-items: center;
}
.thumb {
  height: 15px;
  width: 15px;
  padding: 1;
  cursor: grab;
  background-color: var(--chakra-colors-primary-500);
  transform: rotate(45deg);
}
.track {
  height: 5px;
  border-radius: 2px;
}
