.scrollbar::-webkit-scrollbar {
  height: 6px; /* width of the entire scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(
    --chakra-colors-primary-200
  ); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
