.slider {
  height: 25px;
  display: flex;
  align-items: center;
}
.thumb {
  height: 15px;
  width: 15px;
  padding: 1;
  cursor: grab;
  background-color: var(--chakra-colors-primary-500);
  transform: rotate(45deg);
}
.track {
  height: 5px;
  border-radius: 2px;
}
